<section class="about">
	<div class="about__container">
		<div class="about__row about__row-first">
			<div class="container-bitrix24-box">
				<div class="about__content about__content-first">
					<h2 class="margin-reset about__title about__title-main">Расширяет возможности</h2>
					<div class="about__grid-inner">
						<div class="about__item-inner">
							<img
								src="./img/about-icon-1.svg"
								class="image about__icon"
								width="32"
								height="20"
								alt="Иконка монет"
							/>
							<p class="margin-reset about__paragraph-main">
								Устанавливается на сервер компании или своего провайдера
							</p>
						</div>
						<div class="about__item-inner">
							<img
								src="./img/about-icon-2.svg"
								class="image about__icon"
								width="28"
								height="27"
								alt="Иконка график"
							/>
							<p class="margin-reset about__paragraph-main">
								Индивидуальные настройки бизнес-логики и интерфейса
							</p>
						</div>
						<div class="about__item-inner">
							<img
								src="./img/about-icon-3.svg"
								class="image about__icon"
								width="29"
								height="28"
								alt="Иконка laptop"
							/>
							<p class="margin-reset about__paragraph-main">
								Больше возможностей и интеграций, чем в облачной версии
							</p>
						</div>
					</div>
				</div>
				<div class="about__laptop">
					<img
						src="./img/about-image-2.png"
						class="image about__image-laptop"
						width="846"
						height="624"
						alt="Ноутбук с битриксом"
					/>
					<div class="about__container-application">
						<a
							href="https://www.bitrix24.ru/features/desktop.php"
							class="about__application about__application-pc"
						>
							<img
								src="./img/about-pc.svg"
								class="image"
								width="160"
								height="40"
								alt="Десктоп приложение"
							/>
						</a>
						<a
							href="https://www.bitrix24.ru/apps/mobile-and-desktop.php?shortlink=1e2d912c&c=b24site_ru&pid=b24site_ru&source_caller=ui"
							class="about__application about__application-pc"
						>
							<img
								src="./img/about-apple.svg"
								class="image"
								width="120"
								height="40"
								alt="AppStore приложение"
							/>
						</a>
						<a
							href="https://www.bitrix24.ru/apps/mobile-and-desktop.php?shortlink=1e2d912c&c=b24site_ru&pid=b24site_ru&source_caller=ui"
							class="about__application about__application-pc"
						>
							<img
								src="./img/about-google.svg"
								class="image"
								width="135"
								height="40"
								alt="Google play приложение"
							/>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container-bitrix24-box container-bitrix24-box-bigger">
			<div class="about__row about__row-second">
				<div class="about__content">
					<h2 class="margin-reset about__title">Внутренние коммуникации</h2>
					<p class="margin-reset about__paragraph">
						1C-Битрикс24 (коробочная версия Битрикс24) — это цифровое рабочее пространство для вашей
						компании. Ставьте и контролируйте задачи, отправляйте файлы и голосовые сообщения, общайтесь в
						чате, обсуждайте планы в профильных группах и принимайте взвешенные решения.
					</p>
					<div class="margin-reset about__paragraph">
						Будьте всегда на связи и в курсе событий: используйте для работы десктопное и мобильное
						приложения.
					</div>
				</div>
				<div class="about__container-image about__container-image-second">
					<img
						src="./img/about-image-3.png"
						class="image about__image about__image-third"
						width="524"
						height="536"
						alt="Изображение"
					/>
				</div>
			</div>
			<div class="about__row about__row-third">
				<div class="about__content">
					<h2 class="margin-reset about__title">HR-менеджмент</h2>
					<p class="margin-reset about__paragraph">
						1C-Битрикс24 помогает бизнесу организовать лёгкий вход нового сотрудника в коллектив, быстрое
						знакомство со структурой компании, оповещение всей команды о появлении нового коллеги.
					</p>
					<div class="margin-reset about__paragraph">
						1C-Битрикс24 просит нового человека сразу заполнить Профиль, разместить фотографию, рассказать о
						себе. Новый сотрудник вступает в Группы по роду его занятий и по своим интересам, находит
						единомышленников.
					</div>
					<a href="https://www.bitrix24.ru/prices/try_biz.php" class="btn-reset-bitrix24-box about__button">
						Скачать демо
					</a>
				</div>
				<div class="about__container-image about__container-image-fourth">
					<img
						src="./img/about-image-4.png"
						class="image about__image about__image-fourth"
						width="568"
						height="550"
						alt="Изображение"
					/>
				</div>
			</div>
			<div class="about__row about__row-fourth">
				<div class="about__content">
					<h2 class="margin-reset about__title">Проектный менеджмент</h2>
					<p class="margin-reset about__paragraph">
						Координируйте усилия команды с помощью проектных инструментов 1C-Битрикс24. Определяйте роли и
						права доступа каждого. Планируйте этапы, храните все документы на Диске, ведите календарь,
						общайтесь в чате Проекта.
					</p>
					<div class="margin-reset about__paragraph">
						Проекты, созданные в 1C-Битрикс24, обязательно будут завершены в срок и с лучшим результатом.
					</div>
				</div>
				<div class="about__container-image about__container-image-fifth">
					<img
						src="./img/about-image-5.png"
						class="image about__image about__image-fifth"
						width="568"
						height="550"
						alt="Изображение"
					/>
				</div>
			</div>
			<div class="about__row about__row-fifth">
				<div class="about__content">
					<h2 class="margin-reset about__title">CRM и управление клиентской базой</h2>
					<p class="margin-reset about__paragraph">
						В CRM вы ведёте своих клиентов по всем этапам жизненного цикла, изучаете их поведение, создаёте
						сегменты по заданным критериям, вовремя даёте всю необходимую для них информацию.
					</p>
					<div class="margin-reset about__paragraph">
						Звоните, пишите клиенту в один клик прямо из карточки CRM, угадывайте его желания и делайте
						выгодные предложения.
					</div>
					<a href="https://www.bitrix24.ru/prices/try_biz.php" class="btn-reset-bitrix24-box about__button">
						Скачать демо
					</a>
				</div>
				<div class="about__container-image about__container-image-sixth">
					<img
						src="./img/about-image-6.png"
						class="image about__image about__image-sixth"
						width="1044"
						height="300"
						alt="Изображение"
					/>
				</div>
			</div>
			<div class="about__row about__row-sixth">
				<div class="about__content">
					<h2 class="margin-reset about__title">Автоматизация продаж</h2>
					<p class="margin-reset about__paragraph">
						Автоматизируйте продажи с помощью роботов и бизнес-процессов. Делегируйте важную, трудоёмкую и
						рутинную работу с клиентом 1C-Битрикс24.
					</p>
					<div class="margin-reset about__paragraph">
						У ваших менеджеров автоматически появятся новые задачи и вовремя придут напоминания. А клиенты
						получат все сообщения о статусе их заказа, дадут обратную связь.
					</div>
				</div>
				<div class="about__container-image about__container-image-seventh">
					<img
						src="./img/about-image-7.png"
						class="image about__image about__image-seventh"
						width="568"
						height="550"
						alt="Изображение"
					/>
				</div>
			</div>
			<div class="about__row about__row-seventh">
				<div class="about__content">
					<h2 class="margin-reset about__title">CRM-инструменты маркетолога</h2>
					<p class="margin-reset about__paragraph">
						CRM-маркетинг даёт возможность рассказывать разным клиентам об интересных предложениях, акциях к
						праздникам и сезонных распродажах по-разному.
					</p>
					<div class="margin-reset about__paragraph">
						В распоряжении маркетологов конструктор рекламных email-рассылок, генератор повторных продаж,
						массовых sms-оповещений и автоматических звонков на телефоны клиентов, инструментарий для
						создания лендингов.
					</div>
					<a href="https://www.bitrix24.ru/prices/try_biz.php" class="btn-reset-bitrix24-box about__button">
						Скачать демо
					</a>
				</div>
				<div class="about__container-image about__container-image-eighth">
					<img
						src="./img/about-image-8.png"
						class="image about__image about__image-eighth"
						width="568"
						height="550"
						alt="Изображение"
					/>
				</div>
			</div>
			<div class="about__row about__row-eighth">
				<div class="about__content">
					<h2 class="margin-reset about__title">Настройка сервиса — под вашим контролем</h2>
					<p class="margin-reset about__paragraph">
						Вы самостоятельно размещаете 1C-Битрикс24 на серверах компании или в датацентре и следите за
						скоростью и надежностью его работы. Для вашего удобства компания 1С-Битрикс предоставляет
						готовые образы веб-окружения для наиболее популярных сред виртуализации.
					</p>
					<a
						href="https://helpdesk.bitrix24.ru/open/7011131?SOURCE_LINK_PLACE=ARTICLE_DETAIL"
						class="about__link"
					>
						Сравнить с облачной версией
					</a>
				</div>
				<div class="about__container-image about__container-image-nineth">
					<img
						src="./img/about-image-9.png"
						class="image about__image about__image-nineth"
						width="568"
						height="550"
						alt="Изображение"
					/>
				</div>
			</div>
			<div class="about__row about__row-nineth">
				<div class="about__content">
					<h2 class="margin-reset about__title">Открытый исходный код</h2>
					<p class="margin-reset about__paragraph">
						Своими силами или с привлечением интеграторов можно дорабатывать интерфейс и функциональность
						1С-Битрикс24 под индивидуальные потребности и бизнес-логику вашей компании без ограничений.
					</p>
					<a href="https://www.bitrix24.ru/prices/try_biz.php" class="btn-reset-bitrix24-box about__button">
						Скачать демо
					</a>
				</div>
				<div class="about__container-image about__container-image-tenth">
					<img
						src="./img/about-image-10.png"
						class="image about__image about__image-tenth"
						width="568"
						height="550"
						alt="Изображение"
					/>
				</div>
			</div>
			<div class="about__row about__row-tenth">
				<div class="about__content">
					<h2 class="margin-reset about__title">Веб-кластер</h2>
					<p class="margin-reset about__paragraph">
						Коробочная версия болеее подходит для крупных организаций, проектов с большим объемом данных и
						большим количеством пользователей за счет возможности использования модуля «Веб-кластер». Это
						комбинация технологических решений, которые позволяют распределить один портал на несколько
						серверов, решая тем самым несколько задач: обеспечение высокой доступности портала, его
						масштабирование в условиях возрастающей нагрузки, балансирование нагрузки, трафика, данных между
						несколькими серверами.
					</p>
					<p class="margin-reset about__paragraph">
						Веб-кластер, наряду с другими возможностями 1С-Битрикс24 для крупных заказчиков, доступен в
						редакции Энтерпрайз.
					</p>
				</div>
				<div class="about__container-image about__container-image-eleventh">
					<img
						src="./img/about-image-11.png"
						class="image about__image about__image-eleventh"
						width="568"
						height="550"
						alt="Изображение"
					/>
				</div>
			</div>
			<div class="about__row about__row-eleventh">
				<div class="about__content">
					<h2 class="margin-reset about__title">Виртуальная машина</h2>
					<p class="margin-reset about__paragraph">
						Используйте бесплатный и настроенный для оптимальной работы с продуктами 1С-Битрикс наш
						виртуальный сервер. Продукт включает в себя операционную систему, веб-сервер, базу данных,
						firewall, почтовый сервер, а также большое число настроек, от которых зависит надежность,
						производительность и безопасность веб-проекта.
					</p>
					<p class="margin-reset about__paragraph">
						На
						<a
							href="https://helpdesk.bitrix24.ru/open/9070519?SOURCE_LINK_PLACE=ARTICLE_DETAIL"
							class="link-reset"
						>
							Виртуальной машине
						</a>
						возможно запустить как новый, так и перенести на нее уже готовый проект.
					</p>
					<a href="https://www.bitrix24.ru/prices/try_biz.php" class="btn-reset-bitrix24-box about__button">
						Скачать демо
					</a>
				</div>
				<div class="about__container-image about__container-image-twelweth">
					<img
						src="./img/about-image-12.png"
						class="image about__image about__image-twelweth"
						width="568"
						height="550"
						alt="Изображение"
					/>
				</div>
			</div>
			<div class="about__row about__row-twelweth">
				<div class="about__content">
					<h2 class="margin-reset about__title">Кастомизация</h2>
					<p class="margin-reset about__paragraph">
						Битрикс24 позаботился о том, чтобы пользователь имел возможность менять дизайн интерфейса
						согласно общего стиля своей компании или предписаниям разработанного брендбука без каких-либо
						ограничений.
					</p>
					<p class="margin-reset about__paragraph">
						Выгода такой кастомизации — вы покупаете обычный типовой 1C-Битрикс24 и сами создаёте имидж
						вашей компании, делая 1C-Битрикс24 уже совершенно индивидуальным.
					</p>
					<a href="https://www.bitrix24.ru/prices/try_biz.php" class="btn-reset-bitrix24-box about__button">
						Скачать демо
					</a>
				</div>
				<div class="about__container-image about__container-image-thirthteenth">
					<img
						src="./img/about-image-13.png"
						class="image about__image about__image-thirthteenth"
						width="568"
						height="550"
						alt="Изображение"
					/>
				</div>
			</div>
			<div class="about__row about__row-thirthteenth">
				<div class="about__content">
					<h2 class="margin-reset about__title">Когда офисы в разных городах</h2>
					<p class="margin-reset about__paragraph">
						Если у вас есть филиалы, которым необходимо иметь свой внутренний сервис и при этом
						координировать работу со всей компанией, используйте
						<a
							href="https://helpdesk.bitrix24.ru/open/9072921?SOURCE_LINK_PLACE=ARTICLE_DETAIL"
							class="link-reset"
						>
							многодепартаментность
						</a>
					</p>
					<p class="margin-reset about__paragraph">
						Многодепартаментность, наряду с другими возможностями 1С-Битрикс24 для крупных заказчиков
						доступна в редакции Энтерпрайз.
					</p>
					<a href="https://www.bitrix24.ru/prices/try_biz.php" class="btn-reset-bitrix24-box about__button">
						Скачать демо
					</a>
				</div>
				<div class="about__container-image about__container-image-fourteenth">
					<img
						src="./img/about-image-14.png"
						class="image about__image about__image-fourteenth"
						width="568"
						height="550"
						alt="Изображение"
					/>
				</div>
			</div>
			<div class="about__row about__row-fourteenth">
				<div class="about__content">
					<h2 class="margin-reset about__title">Маркетплейс</h2>
					<p class="margin-reset about__paragraph">
						Наши партнёры разработали более
						<a href="https://marketplace.1c-bitrix.ru/about/" class="link-reset"> 2 000 готовых решений </a>
						на платформе 1С-Битрикс: от небольших компонентов и модулей до готовых интернет-магазинов и
						информационных систем.
					</p>
					<p class="margin-reset about__paragraph">
						Каталог Маркетплейс предназначен только для коробочной версии Битрикс24 и предлагает готовые
						решения как для бизнеса, так и для государственных и бюджетных организаций.
					</p>
				</div>
				<div class="about__container-image about__container-image-fifteenth">
					<img
						src="./img/about-image-15.png"
						class="image about__image about__image-fifteenth"
						width="568"
						height="550"
						alt="Изображение"
					/>
				</div>
			</div>
			<div class="about__row about__row-fifteenth">
				<div class="about__content">
					<p class="margin-reset about__paragraph">
						На сегодняшний момент мы предлагаем три редакции 1С-Битрикс24:
					</p>
					<p class="margin-reset about__paragraph">
						<a href="https://www.bitrix24.ru/features/pages/box-crm.php" class="link-reset">
							Интернет-магазин + CRM
						</a>
						— все необходимые инструменты для организации работы отдела до 12 человек и автоматизации
						продаж;
					</p>
					<p class="margin-reset about__paragraph">
						<a href="https://www.bitrix24.ru/prices/self-hosted.php" class="link-reset">
							Корпоративный портал
						</a>
						— это корпоративный Битрикс24 на вашем сервере с индивидуальными настройками;
					</p>
					<p class="margin-reset about__paragraph">
						<a href="https://www.bitrix24.ru/enterprise/" class="link-reset">Энтерпрайз</a>
						— редакция для крупных компаний от 500 сотрудников, с многодепартаментностью, возможностями
						масштабирования и отказоуйстойчивости, с максимальным уровнем поддержки от 1С-Битрикс.
					</p>
				</div>
				<div class="about__container-image about__container-image-sixteenth">
					<img
						src="./img/about-image-16.png"
						class="image about__image about__image-sixteenth"
						width="568"
						height="550"
						alt="Изображение"
					/>
				</div>
			</div>
			<div class="about__row about__row-sixteenth">
				<div class="about__content">
					<h2 class="margin-reset about__title">Рекомендуем попробовать</h2>
					<p class="margin-reset about__paragraph">
						Прежде, чем покупать «коробку» Битрикс24, протестируйте её возможности в своей компании. После
						30 дней испытания вы сможете купить лицензию и продолжить работу.
					</p>
					<a href="https://www.bitrix24.ru/prices/try_biz.php" class="btn-reset-bitrix24-box about__button">
						Скачать демо
					</a>
				</div>
				<div class="about__container-image about__container-image-seventeenth">
					<img
						src="./img/about-image-17.png"
						class="image about__image about__image-seventeenth"
						width="568"
						height="550"
						alt="Изображение"
					/>
				</div>
			</div>
			<div class="about__row about__row-seventeenth">
				<div class="about__content">
					<h2 class="margin-reset about__title">Коробочная версия Битрикс24</h2>
					<ul class="list-reset-bitrix24-box about__list">
						<li class="about__item-row">Размещение на вашем сервере</li>
						<li class="about__item-row">Дополнительный функционал</li>
						<li class="about__item-row">Возможность доработки</li>
					</ul>
					<a
						href="https://www.bitrix24.ru/prices/self-hosted.php"
						class="btn-reset-bitrix24-box about__button about__button-last"
					>
						Выбрать редакцию и купить
					</a>
				</div>
				<div class="about__container-image about__container-image-eighteenth">
					<img
						src="./img/about-image-18.png"
						class="image about__image about__image-eighteenth"
						width="568"
						height="550"
						alt="Изображение"
					/>
				</div>
			</div>
		</div>
	</div>
</section>
