<section class="hero">
	<div class="container-bitrix24-box hero__container">
		<div class="hero__content">
			<div class="hero__container-inner">
				<h1 class="margin-reset hero__title">Коробочная версия</h1>
				<p class="margin-reset hero__paragraph">
					Это корпоративный Битрикс24 на вашем сервере с вашими индивидуальными настройками, доработками и
					брендом.
				</p>
				<div class="hero__container-buttons">
					<a href="https://www.bitrix24.ru/prices/try_biz.php" class="btn-reset-bitrix24-box hero__button">
						Скачать демо
					</a>
					<button class="btn-reset-bitrix24-box hero__button">Получить расчет стоимости</button>
				</div>
			</div>
			<img
				src="./img/hero-image.png"
				class="image hero__image"
				width="480"
				height="336"
				alt="Изображение коробки-битрикс"
			/>
		</div>
	</div>
	<div class="hero__container-bordered">
		<div class="container-bitrix24-box">
			<div class="hero__header">
				<div class="hero__link hero__link-active">О продукте</div>
				<a class="hero__link" href="https://www.bitrix24.ru/features/box/perfom.php?p=6571969">
					Производительность
				</a>
				<a class="hero__link" href="https://www.bitrix24.ru/features/box/safe.php?p=6571969">Безопасность</a>
				<a class="hero__link" href="https://www.bitrix24.ru/features/box/integration.php?p=6571969">
					Интеграция
				</a>
				<a class="hero__link" href="https://www.bitrix24.ru/features/box/requirements.php?p=6571969">
					Требования
				</a>
				<a class="hero__link" href="https://www.bitrix24.ru/features/box/edition.php?p=6571969">Обновления</a>
				<a class="hero__link" href="https://www.bitrix24.ru/prices/self-hosted.php?p=6571969">Стоимость</a>
				<a
					class="hero__link"
					href="https://helpdesk.bitrix24.ru/open/7011131?_gl=1*1wedo4a*_ga*MjExNjk0MjcwMC4xNzAyODgxNTEz*_ga_3T9QXXD20F*MTcwNjA3MDgwMC4yMC4xLjE3MDYwNzA5MjIuMjkuMC4w&p=6571969"
				>
					Сравнение
				</a>
			</div>
		</div>
	</div>
</section>
