<section class="routing">
	<div class="container-bitrix24-box routing__container">
		<div class="routing__row">
			<h3 class="margin-reset routing__title">Безопасность</h3>
			<ul class="list-reset-bitrix24-box routing__list">
				<li class="routing__item">
					<a
						href="https://helpdesk.bitrix24.ru/open/9160201?SOURCE_LINK_PLACE=ARTICLE_DETAIL"
						class="routing__link"
					>
						Проактивная защита
					</a>
				</li>
				<li class="routing__item">
					<a
						href="https://helpdesk.bitrix24.ru/open/9160969?SOURCE_LINK_PLACE=ARTICLE_DETAIL"
						class="routing__link"
					>
						Архитектура
					</a>
				</li>
				<li class="routing__item">
					<a
						href="https://helpdesk.bitrix24.ru/open/9160411?SOURCE_LINK_PLACE=ARTICLE_DETAIL"
						class="routing__link"
					>
						Сертификаты
					</a>
				</li>
				<li class="routing__item">
					<a
						href="https://helpdesk.bitrix24.ru/open/9161075?SOURCE_LINK_PLACE=ARTICLE_DETAIL"
						class="routing__link"
					>
						Необходимость защиты
					</a>
				</li>
				<li class="routing__item">
					<a
						href="https://helpdesk.bitrix24.ru/open/9138983?SOURCE_LINK_PLACE=ARTICLE_DETAIL"
						class="routing__link"
					>
						Технология SiteUpdate
					</a>
				</li>
				<li class="routing__item">
					<a
						href="https://helpdesk.bitrix24.ru/open/9070519?SOURCE_LINK_PLACE=ARTICLE_DETAIL"
						class="routing__link"
					>
						Веб-окружение
					</a>
				</li>
				<li class="routing__item">
					<a
						href="https://helpdesk.bitrix24.ru/open/9161019?SOURCE_LINK_PLACE=ARTICLE_DETAIL"
						class="routing__link"
					>
						Аудит безопасности
					</a>
				</li>
				<li class="routing__item">
					<a
						href="https://helpdesk.bitrix24.ru/open/6641271?SOURCE_LINK_PLACE=ARTICLE_DETAIL"
						class="routing__link"
					>
						Двухфакторная авторизация
					</a>
				</li>
				<li class="routing__item">
					<a
						href="https://helpdesk.bitrix24.ru/open/13625892?SOURCE_LINK_PLACE=ARTICLE_DETAIL"
						class="routing__link"
					>
						Нагрузочное тестирование
					</a>
				</li>
				<li class="routing__item">
					<a
						href="https://helpdesk.bitrix24.ru/open/9860971?SOURCE_LINK_PLACE=ARTICLE_DETAIL"
						class="routing__link"
					>
						Интеграции с внешними сервисами
					</a>
				</li>
				<li class="routing__item">
					<a
						href="https://helpdesk.bitrix24.ru/open/9139401?SOURCE_LINK_PLACE=ARTICLE_DETAIL"
						class="routing__link"
					>
						Интеграция с «1С»
					</a>
				</li>
			</ul>
		</div>
		<div class="routing__row">
			<h3 class="margin-reset routing__title">Требования</h3>
			<ul class="list-reset-bitrix24-box routing__list">
				<li class="routing__item">
					<a
						href="https://helpdesk.bitrix24.ru/open/5825131?SOURCE_LINK_PLACE=ARTICLE_DETAIL"
						class="routing__link"
					>
						Технические требования
					</a>
				</li>
			</ul>
		</div>
		<div class="routing__row">
			<h3 class="margin-reset routing__title">Документация</h3>
			<ul class="list-reset-bitrix24-box routing__list">
				<li class="routing__item">
					<a
						href="https://helpdesk.bitrix24.ru/open/9721839?SOURCE_LINK_PLACE=ARTICLE_DETAIL"
						class="routing__link"
					>
						Документация по Битрикс24 в коробке
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>
